<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>485949359931-5evrret92911v3416q5jeth1l8pq5rp4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.485949359931-5evrret92911v3416q5jeth1l8pq5rp4</string>
	<key>API_KEY</key>
	<string>AIzaSyCymnjBt1bTxtIMkIjzBiwhu4uhAaM3TKE</string>
	<key>GCM_SENDER_ID</key>
	<string>485949359931</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cocktailRecipeGenerator</string>
	<key>PROJECT_ID</key>
	<string>thedevilwear-bc43b</string>
	<key>STORAGE_BUCKET</key>
	<string>thedevilwear-bc43b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:485949359931:ios:dda61ac29bf57394f5d91e</string>
</dict>
</plist>